#Files
.flutter-plugins
.flutter-plugins-dependencies
.packages
generated_plugin*

#Folders
/.dart_tool
/.idea
/.vscode



#Saving !/build/app/outputs/flutter-apk/ From being ignored

build/*
!build/app
!build/web
build/app/*
!build/app/outputs
build/app/outputs/*
!build/app/outputs/flutter-apk
build/app/outputs/flutter-apk/*
!build/app/outputs/flutter-apk/app-release.apk
